.testimonials {
  padding-top: 140px;

  @include mobile {
    padding-top: 60px;
  }
}

.testimonials__container {
  width: min(1240px, 100%);
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.testimonials__header {
  display: flex;
  gap: 46px;

  @include mobile {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
}

.testimonials__title {
  padding: 0 7px;
  border-radius: var(--border-r-s);
  background-color: var(--green);
  white-space: nowrap;
  line-height: 140%;
}

.testimonials__description {
  max-width: 472px;

  @include fluid-text(16, 18);

  @include mobile {
    text-align: center;
  }
}

.testimonials__body {
  max-width: 100%;
  margin-top: 80px;
  padding-top: 80px;
  padding-bottom: 60px;
  border-radius: var(--border-r-l);
  background: var(--dark);
  overflow: hidden;

  @include mobile {
    padding-top: 30px;
    padding-bottom: 40px;
  }
}

.testimonials__slider {
  padding-left: 200px;
  padding-right: 200px;
  display: flex;
  gap: 50px;
  transition: all 400ms ease;

  @include tablet {
    padding-left: 100px;
    padding-right: 100px;
  }
  @include mobile {
    padding: 0;
  }

  li {
    min-width: 606px;
    padding: 48px 52px;
    border: 1px solid var(--green);
    border-radius: var(--border-r-l);
    position: relative;

    @include tablet {
      min-width: 330px;
    }
    @include mobile {
      padding: 30px;
    }

    &:before {
      content: "";

      width: 40px;
      height: 40px;
      border-left: 1px solid var(--green);
      border-bottom: 1px solid var(--green);
      background-color: var(--dark);
      position: absolute;
      bottom: 0;
      left: 0;
      translate: 150% 52%;
      rotate: -45deg;
    }

    blockquote {
      position: relative;

      p {
        color: var(--white);
        @include fluid-text(16, 18);
        @include mobile {
          line-height: 150%;
        }
      }

      cite {
        display: flex;
        flex-direction: column;
        font-style: normal;
        position: absolute;
        bottom: 0;
        left: 0;
        translate: 10% 280%;

        @include mobile {
          translate: 20% 280%;
        }

        span {
          &:first-of-type {
            font-weight: 500;
            color: var(--green);

            @include fluid-text(18, 20);
          }
          &:last-of-type {
            font-weight: 500;
            color: var(--white);

            @include fluid-text(16, 18);
          }
        }
      }
    }
  }
}

.testimonials__controls {
  max-width: 564px;
  margin-top: 230px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include mobile {
    margin-top: 150px;
  }

  .prev,
  .next {
    opacity: 0.3;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:not(:disabled) {
      @include hover {
        opacity: 1;
      }
    }
  }
}

.testimonials__navigation {
  display: flex;
  gap: 20px;

  button {
    width: 14px;
    height: 14px;
    background-color: var(--white);
    clip-path: polygon(
      15% 50%,
      0 0,
      50% 15%,
      100% 0,
      85% 50%,
      100% 100%,
      50% 85%,
      0 100%
    );

    @include hover {
      background-color: var(--green);
    }
  }

  .active {
    background-color: var(--green);
  }
}
